<tr>
	<td><%= service.date %></td>
	<td><%= service.leader %></td>
	<td><%= service.acoustic %></td>
	<td><%= service.electric %></td>
	<td><%= service.piano %></td>
	<td><%= service.bass %></td>
	<td><%= service.drums %></td>
	<td><%= service.sax %></td>
	<td><%= service.violin %></td>
	<td><%= service.singers %></td>
	<td><%= service.soundAM %></td>
	<td><%= service.soundPM %></td>
	<td><%= link_to "EDIT", '#'%></td>
</tr>