<tr>
	<td><strong><%= service.date %></strong></td>
	<td><strong><%= service.leader %></strong></td>
	<td><strong><%= service.acoustic %></strong></td>
	<td><strong><%= service.electric %></strong></td>
	<td><strong><%= service.piano %></strong></td>
	<td><strong><%= service.bass %></strong></td>
	<td><strong><%= service.drums %></strong></td>
	<td><strong><%= service.sax %></strong></td>
	<td><strong><%= service.violin %></strong></td>
	<td><strong><%= service.singers %></strong></td>
	<td><strong><%= service.soundAM %></strong></td>
	<td><strong><%= service.soundPM %></strong></td>
</tr>