<% provide(:title, "PLANNING") %>
<h1>PLANNING</h1>
<p>Find me in app/views/static_pages/planning.html.erb</p>
<p>This page will be used to plan services, and will provide 
	functions for creating and editing set lists.</p>
<p>
	The functions provided for planning include:
	<ul>
		<li><%=link_to "Browse set lists", '#'%></li>
		<li><%=link_to "Create set list", '#'%></li>
		<li><%=link_to "Edit set list", '#'%></li>
		<li><%=link_to "Delete set list", '#'%></li>
		<li><%=link_to "Publish set list", '#'%></li>
	</ul>
</p>

