<!-- This has to be in the allocations view file, not the setlists -->
<tr>
	<td><%= allocation.position %></td>
	<td><%= allocation.song.title %></td>
	<td><%= allocation.song.artist %></td>
	<td><%= allocation.song.key %></td>
	<td><%= link_to "Remove Song", allocation, method: :delete %></td>
</tr>