<div>
  <%=nested_form_for @allocation do|builder|%>
    <%=builder.label :song_id, "Pick a song" %>

     <%= builder.hidden_field :setlist_id, value: @setlist.id %>

     <%= builder.select(:song_id, options_for_select(@selections), 
     {include_blank: true}, html:{multiple: true, size: 7}) %>

     <!-- builder.select(:song_id, options_from_collection_for_select(@songs, "id", "title", @allocation.song_id), {}, { :multiple => true, :size =>7 }) -->

    <%=builder.submit "Add Song", class: "btn btn-large btn-primary" %>
  <% end %>
</div>

