 <h2>Recommendations</h2>
 <p>These recommendations are based on songs which have been used in the past with the last song in the current setlist</p>
    <div id="recSpace">
      <% if @allocations.empty? %>
      <h3>Please add a song to the setlist in order to view recommendations.</h3>
      <% else %>
      <table class="table table-bordered table-striped">

        <thead>
          <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Key</th>
            <th>Tags</th>
          </tr>
        </thead>
        <tbody>
              <% @commonSetlists.each do |n| %>
              <% @rec = n.allocations %>
                <% @rec.each do |s| %>
                    <% if s.setlist_id != @allocations.first.setlist_id %>
                        <tr>
                          <% if s.song.title != @allocations.last.song.title %>
                            <td><%= s.song.title %></td>
                            <td><%= s.song.artist %></td>
                            <td><%= s.song.key %></td>
                            <td><%= s.song.categories.select("tag").map(&:tag).join(", ") %></td>
                          <% end %>
                        </tr>
                    <% end %>
                <% end %>
              <% end %>
             <% end %> 

        </tbody>
      </table>
      
    </div> 
  </div>

<!--Other Work -->
  <div class="span7">
      <div id="beforeSpace">
      <p>Songs selected before/after the last song in other setlists (work in progress)</p>
      <% if @allocations.empty? %>
      <h3>Please add a song to the setlist in order to view recommendations.</h3>
      <% else %>
      <table class="table table-bordered table-striped">

        <thead>
          <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Key</th>
            <th>Tags</th>
          </tr>
        </thead>
        <tbody>
              <% @commonSetlists.each do |n| %>
              <% @rec = n.allocations %>
              <% @inputSong =  @rec.select(:position).where("song_id = ?", @allocations.last.song_id).map &:position %>
                <% @rec.each do |s| %>
                    <% if s.setlist_id != @allocations.first.setlist_id %>
                        <tr>
                          <% if s.song.title != @allocations.last.song.title %>
                            <!--if the song is before the song in the set print it -->
                            <% if s.position ==  @inputSong.join.to_i - 1 || s.position == @inputSong.join.to_i + 1%>
                              <td><%= s.song.title %></td>
                              <td><%= s.song.artist %></td>
                              <td><%= s.song.key %></td>
                              <td><%= s.song.categories.select("tag").map(&:tag).join(", ") %></td>
                            <% end %>
                            

                          <% end %>
                        </tr>
                    <% end %>
                <% end %>
              <% end %>
             <% end %> 

        </tbody>
      </table>
      
    </div> 
  </div>

