<tr>
	<td><%= link_to setlist.date, setlist_path(setlist) %></td>
	<td>
		<% if(setlist.morning == true) %>
		  <%= "Morning Service" %>
		<% else %>
		  <%= "Evening Service" %>
		<% end %>
	</td>
	<td>
		<%= link_to "Edit", edit_setlist_path(setlist) %>
	</td>
	<td><%= link_to "Delete", setlist, method: :delete,
	                                data: { confirm: 
	                                	"Are you sure you want to delete this set?" }%>
	</td>

</tr>