<h1>Create a setlist</h1>

<div class="row">
   <div class="span8">
      <%=form_for(@setlist) do|f|%>
 
         <%=f.label :date, "Set a date" %>
         <span><%=f.date_select :date%><span>

         <%=f.label :morning, "Morning" %>
         <%=f.radio_button :morning, true %>
         <%=f.label :morning, "Evening" %>
         <%=f.radio_button :morning, false %>

         <h2>Library</h2>  

         <div>
            <%= render 'currentSet' %>
         </div>
         
         <%=f.submit "Create Setlist", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
</div>
