<%provide(:title, 'Edit song')%>
<h3>Edit song</h3>
<div class="row">
  <div class="span10 offset1">
    <%= form_for(@song) do |f| %>
      <%= render 'shared/song_error_messages' %>

      <%= f.label :title, "Title" %>
      <%= f.text_field :title %>

      <%= f.label :artist, "Artist" %>
      <%= f.text_field :artist %>

       <%= f.label :key, "Root Key" %>
      <%= f.select :key, options_for_select([' ','A', 'Bb', 'B', 'C', 'C#', 'D', 'Eb', 'E', 'F', 'F#', 'G', 'G#']) %>

       <!-- nested_form_for(@song.categorizations.build) do |builder| -->
        <!-- builder.label :category_id, "SELECT TAGS" -->
      <!-- end -->

      <%= f.label :lyrics, "Lyrics" %>
      <%= f.text_area :lyrics, id: "Lyrics" %>

     

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      <%= link_to "Cancel", songs_path, class: "btn btn-large btn-danger" %>
    <% end %>

  </div>
</div>