<% provide(:title, 'Browse Library') %>
<h1>All songs</h1>
<p>Note that the search function is still under construction.</p>
<%= form_tag songs_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, class: "btn btn-large btn-primary" %>
  </p>
<% end %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Key</th>
      <th>Tags</th>
      <% if current_user.admin? %>
      <th>Click to edit</th>
      <th>Click to delete</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render @songs %>
  </tbody>
</table>
<%= link_to "Add new song", new_song_path, class: "btn btn-large btn-primary" %>