<% provide(:title, 'Browse Library') %>
<h1>All songs</h1>
<p>Note that the search function is still under construction.</p>
<%= form_tag songs_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, class: "btn btn-large btn-primary" %>
  </p>
<% end %>

<!--What I hope the form will look like later on

<form class="well form-search">  
  <input type="text" class="input-large search-query span10 offset1">  
  <button type="submit" class="btn btn-large btn-primary">Search</button>
  <div class="control-group">  
  	<label class="control-label" for="sOptions">Search by</label>  
    <div class="controls">  
      <select id="sOptions">  
       <option>Title</option>  
       <option>Tags</option>  
      </select> 
    </div>
  </div>    
</form>
-->  
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Key</th>
    </tr>
  </thead>
  <tbody>
    <%= render @songs %>
  </tbody>
</table>
<%= link_to "Add new song", new_song_path, class: "btn btn-large btn-primary" %>