<%provide(:title, 'Add song')%>
<h1>Add a song to the library</h1>

<div class="row">
  <div class="span10 offset1">
    <%= form_for(@song) do |f| %>
      <%= render 'shared/song_error_messages' %>

      <%= f.label :title, "Title" %>
      <%= f.text_field :title %>

      <%= f.label :artist, "Artist" %>
      <%= f.text_field :artist %>

      <%= f.label :key, "Root Key" %>
      <%= f.select :key, options_for_select([' ','A', 'Bb', 'B', 'C', 'C#', 'D', 'Eb', 'E', 'F', 'F#', 'G', 'G#']) %>

      <%= f.label :lyrics, "Lyrics" %>
      <%= f.text_area :lyrics, id: "Lyrics" %>


      <%= f.submit "Save song", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>