
<%provide(:title, 'SONGS')%>
<div id="printSong" class="span9">
	<h3>Title: <%= @song.title %></h3> 
	<div id="keyAndTags">
	    <h3>Artist: <%= @song.artist %></h3>
	
		<h3>Original Key: <%=@song.key %></h3>
		<h3>
			Tags: <%= @song.categories.select("tag").map(&:tag).join(", ") %>
		</h3>
    </div>


	<div id="lyrics">
		<pre data-key= <%= @song.key%> id="chords"><%= @song.lyrics %></pre>
			<div id= "editSong">
				<% if current_user.admin? %>
				<%= link_to "EDIT", edit_song_path, class: "btn btn-large btn-primary"%>
				<%end %>
				<%= link_to "PRINT", '#', onclick: "printpage()", class: "btn btn-large btn-warning" %>
			</div> 
	</div>
</div>






