<h1>Posts#new</h1>
<div class="span10">
	<%= form_for(@post) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	  <%= f.label :subject, "Subject" %>
	  <%= f.text_field :subject %>
	  <div class="field">
	  	<%= f.label :content, "Post" %>
	    <%= f.text_area :content, placeholder: "Write a new post here..." %>
	  </div>
	  <%= f.submit "Save post", class: "btn btn-large btn-primary" %>
	<% end %>
</div>