<header>
<header class="navbar navbar-fixed-top" id="topNav">
  	<div class="navbar-inner">
  		<div class="container">
  			<%= link_to "Band App", root_path, id: "logo" %>
  			<nav>
  				<ul class="nav pull-right">
            <%if signed_in?%>
              <% if current_user.admin?%>
                <%= render 'layouts/adminView' %>
              <% else %>
                <%= render 'layouts/nonAdmin' %>
              <% end %>


            <%else%>
              <li><%= link_to "HOME", root_path %></li> 
              <li><%= link_to "SIGN IN", signin_path %></li>
              <li><%= link_to "SIGN UP", new_user_path %></li>
            <%end%>
  				</ul>
  			</nav>
  		</div>
  	</div>
  </header>