<header>
<header class="navbar navbar-fixed-top">
  	<div class="navbar-inner">
  		<div class="container">
  			<%= link_to "Band App", root_path, id: "logo" %>
  			<nav>
  				<ul class="nav pull-right">
  					<li><%= link_to "HOME", root_path %></li>
  					<li><%= link_to "PLANNING", planning_path %></li>
  					<li><%= link_to "SCHEDULING", scheduling_path %></li>
  					<li><%= link_to "PEOPLE", people_path %></li>
  					<li><%= link_to "LIBRARY", library_path %></li> 
            <li><%= link_to "SIGN IN", root_path %></li>
  				</ul>
  			</nav>
  		</div>
  	</div>
  </header>